
<br />
<alert dismissOnTimeout="3000">This alert will dismiss in 3s</alert>

<!-- <button type="button" pButton icon="fa-plus" style="float:left" (click)="GetUSERSSS()" label="GetUSERS"></button> -->


<!-- <button type="button" pButton icon="fa-plus" style="float:left" (click)="observableFun()" label="GetUSERS"></button>
 -->

<!--
<div style="width: 300px; margin-bottom: 20px;">
  <h3>Select multiple cities</h3>

  <ng-select (data)="value"
              [multiple]="true"
              [items]="items"
              [disabled]="disabled"
              (data)="refreshValue($event)"
              (selected)="selected($event)"
              (removed)="removed($event)"
              placeholder="No city selected">

  </ng-select>

  <pre>{{itemsToString(value)}}</pre>
  <div>
    <button type="button" class="btn btn-primary"
            [(ngModel)]="disabledV" btnCheckbox
            btnCheckboxTrue="1" btnCheckboxFalse="0">
      {{disabled === '1' ? 'Enable' : 'Disable'}}
    </button>


    <button type="button" (click)="getGroupBy(myList, 'groupfield')">
      CLICK TO GROUP BY
    </button>
  </div>
</div>
 -->











<!--

<div>
  <span>
    <p-galleria [images]="images" panelWidth="500" panelHeight="313" showCaption="true"
      panelHeight="600" panelWidth="1400" frameWidth="140" frameHeight="60" showFilmstrip="true"></p-galleria>
       <div class="ticker">
      <h3>Latest News</h3>
      <ul id="ticker">
          <li>11Dummy data is benign information that does not contain any useful data, but serves to reserve spac...</li>
          <li>22For testing, dummy data can also be used as stubs or pad to avoid software testing iss...</li>
          <li>33In operational use, dummy data may be transmitted for OPSEC purposes.</li>
          <li>44Dummy data must be rigorously evaluated and documented to ensure that it does no...</li>
          <li>555The topic of this article may not meet Wikipedia's general notability guideline.</li>
      </ul>
      </div>
  </span>
</div> -->
