
<!-- <p-galleria [images]="images" panelWidth="1415" panelHeight="690" showCaption="true"
    frameHeight="100" frameWidth="100"
  ></p-galleria>
 -->


 <div class="ticker">
<h3>Latest News</h3>
<ul id="ticker">
    <li>11Dummy data is benign information that does not contain any useful data, but serves to reserve spac...</li>
    <li>22For testing, dummy data can also be used as stubs or pad to avoid software testing iss...</li>
    <li>33In operational use, dummy data may be transmitted for OPSEC purposes.</li>
    <li>44Dummy data must be rigorously evaluated and documented to ensure that it does no...</li>
    <li>555The topic of this article may not meet Wikipedia's general notability guideline.</li>
</ul>
</div> 
