===DETAILS COMPONENT===
<div *ngIf='user'>
  <h4>Work-allocated to {{user.name}}.</h4>
  <div style="float: right;padding-top: 8px; margin-right: 10px;">
          <span style="float: left; margin-top: 6px; margin-right: 7px;">
            Edit Row:
          </span>
          <p-inputSwitch [(ngModel)]="isRowEditable"></p-inputSwitch>
  </div>
  <div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
      <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
      <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Row Filter"
      pTooltip="Filter Rows" tooltipPosition="bottom" tooltipEvent="focus">
  </div>

    <p-dataTable [value]="weeks" reorderableColumns="true" resizableColumns="true" [editable]="isRowEditable"
     [paginator]="true" [rows]="10" [responsive]="true" [globalFilter]="gb">
         <header>{{user.name}} details here!</header>
         <!-- ID AND CONTENT start -->
        <p-column *ngFor="let col of cols" [field]="col.field" [header]="col.header"
              [editable]="isRowEditable" [sortable]="true"  [filter]="true">
                col={{col}}
        </p-column>
        <!-- ID AND CONTENT ends-->

        <!-- COLORING STARTS -->
        <p-column field="color" header="Coloring"  [sortable]="true" [filter]="true">

            <template let-col let-user="rowData" pTemplate type="body">

              <span [style.color]="user['color']"> {{user[col.field]}}</span>

            </template>

        </p-column>
        <!-- COLORING -->

        <footer>

        </footer>
    </p-dataTable>


    <!-- Button for Display overLay -->
    <p-splitButton iconPos="right" label="Enhanced View"  (onClick)="getBusyCounter();saveSplitButton()" [model]="splitButtonitems"></p-splitButton>

    <!-- SLIDE MENU HERE -->
    <!--
      <p-slideMenu [model]="slideMenuitems" ></p-slideMenu> -->
    <!-- SLIDE MENU HERE -->




    <!-- dialog for Enhanced Views -->
    <!-- <p-dialog header="Enhanced View" [(visible)]="isdisplay" modal="true" closeOnEscape="true" responsive="true" minHeight="600" minWidth="600">

       asdsadasd

    </p-dialog>

    <button type="text" (click)="showDialog()" pButton icon="fa-external-link-square" label="Show">BUTTTOOOn</button>
 -->

</div>
