
<div tabindex="0" (keyup)="mainClick($event)" (click)="selectClick($event)" class="ui-select-container {{className}}">
  <div [ngClass]="{'ui-disabled': disabled}"></div>
  <div class="ui-select-match">
    <div tabindex="-1" class="select-box__container" (click)="matchClick($event)">
      <span class="selected-values__overflow" *ngIf="multiple">
        <span class="selected-values__wrapper" *ngFor="let a of active">
          <span tabindex="-1" class="selected-item__wrapper" (click)="matchClick($event)">
            <span class="selected-item__text">
              {{a.display}}
            </span>
            <a (click)="remove($event, a)">
              <span class="exp-ico-close selected-item__close-icon"></span>
            </a>
          </span>
        </span>
        <span>
          <input
          type="text" [formControl]="term"
          id="searchBox"
          autocomplete="false"
          tabindex="-1"
          (keydown)="inputEvent($event)"
          (keyup)="inputEvent($event, true)"
          [disabled]="disabled"
          class="input-box dropdown__searchbox"
          [placeholder]="placeholder"
          >
        </span>
      </span>
      <div class="single-dropdown-wrap" *ngIf="!multiple">
        <span *ngIf="active.length <= 0 && !multiple && !optionsOpened" class="ui-select-placeholder">{{placeholder}}</span>
        <span class="single-dropdown__selected-value" *ngIf="active.length > 0">
          <span  class="ui-select-match-text" [ngClass]="{'ui-select-allow-clear': allowClear && active.length > 0}" [innerHTML]="active[0].display"></span>
        </span>
      </div>
      <span class="exp-ico-arrow-down dropdown-toggle dropdown__arrow-down" *ngIf="!multiple"></span>
      <span class="exp-ico-arrow-down dropdown-toggle dropdown__arrow-down" *ngIf="multiple && active.length <= 0"></span>
      <span class="exp-ico-plus-circle dropdown-toggle dropdown__plus-circle" *ngIf="multiple && active.length > 0"></span>
    </div>
  </div>

  <div class= "dropdown-options" [ngClass]="{'block':optionsOpened,'display-none':!optionsOpened}" >
    <div class="single-dropdown__input-wrap" *ngIf="search && inputMode && !multiple">
      <span class="exp-icon-search single-dropdown__search-icon"
        (mousedown)="focusInput($event, search)">
      </span>
      <input
      type="text" [formControl]="term"
      id="searchBox"
      autocomplete="false"
      tabindex="-1"
      (keydown)="inputEvent($event)"
      (keyup)="inputEvent($event, true)"
      [disabled]="disabled"
      class="input-box single-dropdown__input"
      placeholder="{{active.length <= 0 ? placeholder : ''}}"
      >
    </div>
    <div class="set-max-height" *ngIf="optionsOpened && options && options.length > 0">
      <perfect-scrollbar [config]="config" class="scrollbar-element">
      <!-- Default STARTS-->
        <ul class="dropdown-select" role="menu" *ngIf="!(groupBy || orderBy)">
          <li *ngFor="let o of options" role="menuitem">
            <div class="ui-select-choices-row"
            [class.active]="isActive(o)"
            (mouseenter)="selectActive(o)"
            (click)="selectMatch(o, $event)">
              <a href="javascript: void(0)" class="dropdown-item">
                <span *ngIf="templateRef">
                  <template [expTemplateLoader]="templateRef" [item]="o"></template>
                </span>
                <div *ngIf="!templateRef" [innerHtml]="o.display | expHighlight: inputValue"></div>
              </a>
            </div>
          </li>
        </ul>
        <!-- Default ENDS-->
        <!-- OrderBy CLAUSE STARTs-->
        <ul class="dropdown-select" role="menu" *ngIf="!groupBy && orderBy">
          <li *ngFor="let o of options | expOrderByPipe:orderBy" role="menuitem">
            <div class="ui-select-choices-row"
            [class.active]="isActive(o)"
            (mouseenter)="selectActive(o)"
            (click)="selectMatch(o, $event)">
              <a href="javascript: void(0)" class="dropdown-item">
                <span *ngIf="templateRef">
                  <template [expTemplateLoader]="templateRef" [item]="o"></template>
                </span>
                <div *ngIf="!templateRef" [innerHtml]="o.display | expHighlight: inputValue"></div>
              </a>
            </div>
          </li>
        </ul>
        <!-- OrderBy CLAUSE ENDS-->
        <!-- GROUPBY CLAUSE STARTs-->
        <ul class="dropdown-select" *ngIf="groupBy" >
          <li *ngFor="let groups of options | expGroupByPipe:groupBy">
            <ul class="remove-bullets pl1">
              <li class="h5 bold">{{groups.key}}</li>
              <li *ngFor="let o of groups.value | expOrderByPipe:orderBy">
                <div class="ui-select-choices-row"
                [class.active]="isActive(o)"
                (mouseenter)="selectActive(o)"
                (click)="selectMatch(o, $event)">
                  <a href="javascript: void(0)" class="dropdown-item">
                    <span *ngIf="templateRef">
                      <template [expTemplateLoader]="templateRef" [item]="o"></template>
                    </span>
                    <div *ngIf="!templateRef" [innerHtml]="o.display | expHighlight: inputValue"></div>
                  </a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      <!-- NO GROUPBY CLAUSE ENDS-->
      </perfect-scrollbar>
    </div>
  </div>
</div>
