@import '../../styles/variables';

.ui-select-container{
  position: relative;
  margin-bottom: 20px;
  box-sizing: border-box;
  max-width: 100%;
}
.ui-select-toggle {
  position: relative;
}

.ui-select-placeholder {
  color: var(--placeholder-color);
  padding: 8px 0 5px 8px;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui-select-placeholder:focus{
  outline: none;
}
.ui-select-match-text{
  color: var(--placeholder-color);
}
.dropdown-toggle{
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
}
.ui-select-match{
  border-radius: var(--border-radius);
  border: var(--border-width-one) var(--border-style) var(--dropdown-container-border-color);
}
.ui-disabled {
  background-color: var(--ui-disable-color);
  border-radius: var(--border-radius);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0.6;
  top: 0;
  left: 0;
  cursor: not-allowed;
}
.ui-select-choices-row{
  border-radius: var(--border-radius);
}
.ui-select-choices-row>a {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    white-space: nowrap;
}
.ui-select-choices-row.active>a {
    color: var(--active-row-color);
    text-decoration: none;
    outline: 0;
    background-color: var(--active-row-background);
    border-radius: var(--border-radius);
}
.input-box{
  font-family: inherit;
  font-size: inherit;
  display: block;
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-bottom: 10px;
  border: var(--border-width-one) var(--border-style) var(--input-border-color);
  border-radius: var(--border-radius-three);
  box-sizing: border-box;
}

.dropdown-select{
  list-style: none;
  padding-left: 0;
  margin: 0;
  overflow: auto;
}

.select-box__container{
   position: relative;
   padding: 0 35px 0 5px;
   font-size: var(--font-size-medium);
}

.dropdown-item{
  color: var(--dropdown-item-color);
  font-size: var(--font-size-medium);
  text-decoration: none;
}

.dropdown-options{
  width: 100%;
  /*max-height: 150px;*/
  /*overflow: auto;*/
  padding: 10px 5px;
  position: absolute;
  box-sizing: border-box;
  border: var(--border-width-one) var(--border-style) var(--dropdown-options-border-color);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background-color: var(--white-background);
  z-index: 2;
  margin-top: -4px;
}

.selected-item__wrapper{
  border-radius: var(--border-radius);
  padding: 0 10px;
  display: inline-block;
  font-size: var(--font-size-medium);
}

.selected-item__wrapper:hover .selected-item__close-icon{
  color: var(--selected-item-hover-color);
}

.selected-item__close-icon{
  font-size: var(--font-small);
  color: var(--close-icon-color);
}

.selected-item__close-icon:hover{
  cursor: pointer;
}

.selected-values__wrapper{
  height: 28px;
  display: inline-block;
  background-color: var(--selected-value-outer-container);
  border-radius: var(--border-radius);
  margin: 5px 10px 0 0;
  line-height: 28px;
}

.single-dropdown-wrap{
  height: 38px;
}

.selected-values__overflow{
  display: block;
  padding: 0 0 5px 0;
}

.dropdown__searchbox{
  width: auto;
  height: 28px;
  display: inline-block;
  margin: 5px 0 0 0;
  border:0;
}

.dropdown__searchbox:focus{
  outline: none;
}

.dropdown__plus-circle{
    position: absolute;
    padding: 10px 0 0 0;
    font-size: var(--font-size-large);
    color: var(--plus-circle-color);
    cursor: pointer;
    margin-right: 10px;
}

.selected-item__text{
  color: var(--dropdown-item-color);
  margin-right: 10px;
}

.single-dropdown__selected-value{
  padding-left: 10px;
  line-height: 38px;
}

.dropdown__arrow-down{
  color: var(--dropdown-item-color);
  cursor: pointer;
  font-size:  var(--font-small);
  padding: 15px 0 0 0;
}

.single-dropdown__input{
  padding-left: 30px;
}

.single-dropdown__input:focus{
  border-color: var(--on-focus-border-color);
}

.single-dropdown__input-wrap{
  position: relative;
}

.single-dropdown__search-icon{
  position: absolute;
  top: 10px;
  left: 10px;
  color: var(--search-icon-color);
}

.dropdown-options.block + .ui-select-match{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/*------- classes redifened to avoid conflicts for component based approch-------*/
  .block{
    display: block;
  }
  .display-none{
    display: none;
  }
/*------------------------------------End---------------------------------------*/

.single-dropdown__input-wrap > input:focus{
  outline: none;
  border: var(--border-width-one) var(--border-style) var(--input-focus-color);
  box-shadow: 0 0 5px var(--box-shadow-color);
}

.single-dropdown__input-wrap > input:focus .single-dropdown__search-icon{
  color: var(--on-focus-color);
}

.scrollbar-element {
  position: relative;
  flex: 1 1 auto;
}
.set-max-height {
   max-height: 300px;
    display: flex;
    /*flex: 1 1 auto;*/
}

.set-max-width {
  max-width: 300px;
}

.remove-bullets {
  list-style-type: none;
}

/*------------ CSS For filter section on Dashboard Page ------------------*/
  .filter-box{
    width: 170px;
    margin: 0;
  }
/*-----------------------------End---------------------------------------*/
